{% extends "Teacher/base3.html" %}
{% load static %}

{% block my %}
    <style>
        /* Custom CSS styles */
        .card {
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
            height: 100%;
        }

        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        h1 {
            font-weight: bold;
        }
        .card p {
            font-size: 18px;
            color: #031d3a;
            line-height: 1.6;
            margin: 0;
            padding: 20px; /* Adjust padding for better alignment */
            height: 100%; /* Ensure the text card fills the entire height */
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }

        .card-title {
            font-size: 22px;
            color: #031d3a;
            margin-top: 10px;
        }
.card:hover p {
            color: orange; /* Change text color on hover */
        }
        .card:hover .card-title {
            color: orange; /* Change text color on hover */
        }

        .card-img-top {
            border-radius: 5px;
        }

        .hover-effect:hover {
            cursor: pointer;
            background-color: #f9f9f9;
        }
    </style>

    <div id="content" class="container">
        <img src="{% static 'logo.jpeg' %}" alt="logo" />

        <h1 style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">
            The Punjab School
        </h1>

        <div class="row product-container" style="margin: 5%">
    <div class="col-md-6 col-lg-6">
        <div class="card text-center hover-effect">
            <div class="card-body text-center">
                <h1 class="card-title">SDP - Classes</h1>
            </div>
            <p>
                Stay organized and on top of your teaching schedule! Access your personalized dashboard to view the classes you're currently teaching. Stay informed about the courses, sections, and students enrolled in each class, empowering you to effectively plan and deliver your lessons
            </p>
        </div>
    </div>

    <div class="col-md-6 col-lg-6">
        <div class="card hover-effect">
            <a href="{% url 'teacher_data' %}">
                <img style="width: 95%; height: 95%; align-content: center; "
                     src="{% static 'img_2.png' %}" class="card-img-top mx-auto" alt="Students Image" />
            </a>
        </div>
    </div>
</div>

<div class="row product-container" style="margin: 5%">
    <div class="col-md-6 col-lg-6">
        <div class="card hover-effect">
            <a href="{% url 'add_exam' %}">
                <img style="width: 95%; height: 95%; align-content: center; "
                     src="{% static 'img_1.png' %}" class="card-img-top mx-auto" alt="Courses Image" />
            </a>
        </div>
    </div>

    <div class="col-md-6 col-lg-6">
        <div class="card text-center hover-effect">
            <div class="card-body text-center">
                <h1 class="card-title">SDP - Exams</h1>
            </div>
            <p>
                Prepare for success with our exam management feature! Streamline your exam preparation process by uploading and managing exams with ease. Keep track of exam details. Boost efficiency and focus on delivering high-quality education with our exam management feature.
            </p>
        </div>
    </div>
</div>

    </div>
{% endblock %}
