{% extends "Admin/base1.html" %}
{% load static %}
{% block my %}

    <div id="content" style=" margin-left: 22%; margin-right: 0;" >
        <img src="{% static 'logo.jpeg' %}" alt="logo" />
        <h1 style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">
            The Punjab School
        </h1>

            <div class="welcome-box">
                <h1>Welcome to Classrooms!</h1>
            </div>
        <div class="container-content">


            {% for classroom_data in classrooms %}
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title classroom-section">Classroom: {{ classroom_data.class_id }}</h3>
                        <h4>Sections:</h4>
                        <ul class="list-group">
                            {% for section in classroom_data.sections %}
                                <li class="list-group-item classroom-section">
                                    Name: {{ section.name }} |
                                    Student Counts: {{ section.std_counts }}

                                    <button class="btn float-right" data-target="#courses_{{ classroom_data.class_id }}_{{ section.section_id }}"
                                            onclick="handleButtonClick('{{ classroom_data.class_id }}', '{{ section.section_id }}', 'courses')"
                                            data-toggle="tooltip" data-placement="top" title="View Courses">
                                        <i class='fas fa-book-reader' style='font-size: 18px'></i>
                                    </button>


                                    <button class="btn float-right" data-target="#students_{{ classroom_data.class_id }}_{{ section.section_id }}"
                                            onclick="handleButtonClick('{{ classroom_data.class_id }}', '{{ section.section_id }}', 'students')"
                                            data-toggle="tooltip" data-placement="top" title="View Students">
                                        <i class='fas fa-user-graduate' style='font-size: 20px'></i>
                                    </button>

                                    <button class="btn float-right" data-target="#teachers_{{ classroom_data.class_id }}_{{ section.section_id }}"
                                            onclick="handleButtonClick('{{ classroom_data.class_id }}', '{{ section.section_id }}', 'teachers')"
                                            data-toggle="tooltip" data-placement="top" title="View Teachers">
                                        <i class='fas fa-chalkboard-teacher' style='font-size: 18px'></i>
                                    </button>

                                    <div id="teachers_{{ classroom_data.class_id }}_{{ section.section_id }}" class="collapse mt-2">
                                        <h5 class="teachers-enrolled">Teachers:</h5>
                                        <ul class="list-group">
                                            {% for teacher in section.teachers %}
                                                <li class="list-group-item">{{ teacher.name }} - {{ teacher.email }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div id="students_{{ classroom_data.class_id }}_{{ section.section_id }}" class="collapse mt-2">
                                        <h5 class="students-enrolled">Students:</h5>
                                        <ul class="list-group">
                                            {% for student in section.students %}
                                                <li class="list-group-item">{{ student.name }} - {{ student.email }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div id="courses_{{ classroom_data.class_id }}_{{ section.section_id }}" class="collapse mt-2">
                                        <h5 class="courses-enrolled">Courses:</h5>
                                        <ul class="list-group">
                                            {% for course in section.courses %}
                                                <li class="list-group-item">C00{{ course.course_id }} - {{ course.course_name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function handleButtonClick(classId, sectionId, type) {
            var target = $(`#${type}_${classId}_${sectionId}`);

            target.collapse('toggle');

            $('[id^="courses_"]').not(target).collapse('hide');
            $('[id^="students_"]').not(target).collapse('hide');
            $('[id^="teachers_"]').not(target).collapse('hide');
        }
    </script>

{% endblock %}